.logo {
  text-decoration: none;
  position: relative;
  padding: 0.2em;
  top: 0;
  color: #000;
  transition:
    border
      linear(
        0,
        0.03 1.1%,
        0.125 2.4%,
        0.906 9.8%,
        1.046 12.3%,
        1.11 15%,
        1.116 16.3%,
        1.11 17.8%,
        1.014 25.8%,
        0.987 31.2%,
        1.001 47.2%,
        1
      )
      0.5s,
    box-shadow
      linear(
        0,
        0.03 1.1%,
        0.125 2.4%,
        0.906 9.8%,
        1.046 12.3%,
        1.11 15%,
        1.116 16.3%,
        1.11 17.8%,
        1.014 25.8%,
        0.987 31.2%,
        1.001 47.2%,
        1
      )
      0.5s,
    top
      linear(
        0,
        0.03 1.1%,
        0.125 2.4%,
        0.906 9.8%,
        1.046 12.3%,
        1.11 15%,
        1.116 16.3%,
        1.11 17.8%,
        1.014 25.8%,
        0.987 31.2%,
        1.001 47.2%,
        1
      )
      1s 0.5s;
}

.logo:hover {
  border: 2px solid #000;
  box-shadow: 4px 4px 0 #000;
  color: #000;
  top: 10px;
}

li {
  list-style-type: square;
}
