body {
    background-color: #8a0000;
}

.center-image {
    height: 100vh;
    display: flex;
    text-align: center;
    justify-content: center;
}

.image {
    position: relative;
}

img {
    height: 100%;
    align-self: center;
}

.credit {
    position: absolute;
    bottom: 17px;
    color: rgb(38, 38, 38);
    width: 200px;
    background-color: rgba(242, 242, 242, 0.2);
    border-radius: 10px;
    font-size: 1.5rem;
}